body {
    background: white;
    font: normal 20pt Arial 
} 
header{

}
section{
    background: white;
    border-radius: 7px;
    padding: 15px;
    font: normal 17pt Arial;
    width: 550px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534);
}
select{
        width: 175px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}