body {
    background:white;
    font: normal 20pt Arial;
} 
header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
section{
    background: rgba(241, 237, 237, 0.699);
    border:black solid;
    border-radius: 5px;
    padding: 15px;
    font: normal 17pt Arial;
    width: 450px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534);
}
footer{
    padding: 20px;
    color: black;
    text-align: center;
    font-style: italic;
}